body{
	background-color: grey;
}

#paper{
	width: 600px;
	height: 850px;
	background-color: white;
	border: solid 1px;
	margin: auto;
	margin-top: 3%;
}

h1{
	text-align: center;
}

p{
	text-align: center;
	text-decoration: bold;
}

#add{
	margin-left: 180px;
}

#show{
	margin-left: 10px;
}

.inp{
	text-align: center;
}

#nazwa,#numerk,#kwn,#dt1,#dt2,#op{
	text-align: left;
	margin-left: 50px;
	margin-top: 0%;
}

#but{
	float: right;
	margin-top: 30%;
}

#but2{
	float: right;
	margin-top: 10%;
	margin-right: 10%;
}

#divTwo{
	width: 50%;
}

table,th,td{
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

td{
	width: 250px;
	height: 20px;
}

table{
	border-collapse: collapse;
}